.filters-container {
  padding: 5px 8px 20px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

select {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #cbd2d9;
  border-radius: 3px;
  color: #0f172a;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  padding: 4px 15px 4px 10px;
}

.filter-container {
  margin: 6px 15px 6px 15px;
}

.filter-text {
  color: #7b8794;
  font-size: 12px;
  font-weight: 500;
}
